.inline-block {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
    font-family: 'Poppins';
    font-size: 14px;
    padding: 10px 25px; 
}


ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav {
    padding: 1%;
    margin-left: -28px;
  }

button {
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16;
    font-family: 'Poppins';
    border-radius: 17px;
    box-shadow: 0px 3px 6px #00000029;
}

button:hover {
    background-color: #FFFFFF;
    opacity: 0.8;
}

.inline-block img {
   width: 75px;
   padding: 1%;
   margin-left: 1px;

}

body {
    background-color: #E3D5C9;
}

.hero {
    display: flex;
    padding: 0;
    margin: 0 auto;
    height: 677px;
}

.column1 {

}

.column2 {
    padding: 0;
    margin: 0;
}

.column2 img {
    height: auto;
    width: 650px;
    display: block;
    padding: 0;
    margin: 0;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 60px;
    margin-top: 100px;
    width:  650px;
}

p {
    margin-top: -10px;
    font-size: 22px;
    font-family: 'Poppins';
}

.contentPa {
    padding-right: 90px;
}

h1 {
    font-family: 'Poppins';  
    font-weight: 600;
    font-size: 35px;
    padding-bottom: -2px;
}

/* body stuff */

.work {
    background-color: white;
    height: 20px;
    margin-top: 1px;
}

/* footer stuff */

#lighter {
    background-color: #E3D5C9BE;
    background: no-repeat padding-box;
    height: 8px;
}


footer {
    background-color: #E3D5C9;
    width: 100%;
    display: inline-block;
    height: 175px;
}

#lighter {
    background-color: #E3D5C9BE;
    height: 8px;
    width: 100%;
}

#footerButton {
    display: flex;
    justify-content: center;
}

#footerLinks {
    height: 90px;
    width: 900px;
    align-items: center;
    padding-left: 200px;
}

.button2{
    padding-left: 50px;
    padding-right: 50px;
}
